
table, th, td {
  border: 2px dotted black;
  padding: 5px;
}
table {
  border-spacing: 15px;
}
input {
  width: 80%;
  border: 2px solid black;
  color: black;
}
input[type=submit] {
  width: 80%;
  background-color: #1E870C;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: black;
}
.container-fluid{
  padding: 50px;
}
#lowersection{
  background: url(../images/ghana2.jpg);
}
#rightbar{
  background-color: white;
  opacity: 90%;
  border: 1px solid black;
  border-radius: : 5px;
  color: black;
}

#leftbar{
  color: white;
  padding: 5px;
}
.feedback{
  text-align: center;
}
div {
  border-radius: 5px;
  /* background-color: #f2f2f2; */
  padding: 20px;
}
#header{
  text-align: center;
  background-color:#3C3E3B;
  color: white;
  font-family: sans-serif;
}
#footer{
  text-align: center;
  font-size: 17px;
}
